*~

*.o

cmd/FILE
cmd/LGP
cmd/MAIL
cmd/MINI
cmd/NAME
cmd/NETLOAD
cmd/RAMTEK
cmd/RTAPE
cmd/SEND
cmd/SMTP
cmd/SPICE
cmd/UU
cmd/cftp
cmd/chaccept
cmd/chaosmail
cmd/chconnect
cmd/cheaddr
cmd/chfinger
cmd/chinit
cmd/chmail
cmd/chmailer
cmd/chmkdev
cmd/chosend
cmd/chread
cmd/chrut
cmd/chsend
cmd/chserver
cmd/chsupdup
cmd/chtape
cmd/chtelnet
cmd/chtime
cmd/chup
cmd/chwrite
cmd/conn
cmd/hostat
cmd/newsends
cmd/reply
cmd/what

chsocket/chaosd
chsocket/listen
chsocket/server
chsocket/tstclient
chsocket/tsttime

libhosts/chaosnames
libhosts/hosts2
libhosts/libhosts.a

chlinux/*.ko
chlinux/*.ko.cmd
chlinux/*.mod.c
chlinux/*.mod.o.cmd
chlinux/*.o.cmd
chlinux/.tmp_versions/
chlinux/Module.symvers
chlinux/chlinux/
chlinux/chncp/
chlinux/chunix/
chlinux/modules.order

*.log

TAGS

buildroot*
