*~

*.o

cmd/FILE
cmd/LGP
cmd/MAIL
cmd/MINI
cmd/NAME
cmd/NETLOAD
cmd/RAMTEK
cmd/RTAPE
cmd/SEND
cmd/SMTP
cmd/SPICE
cmd/UU
cmd/chaccept
cmd/chaosmail
cmd/cheaddr
cmd/chinit
cmd/chmkdev
cmd/chosend
cmd/chread
cmd/chrut
cmd/chsend
cmd/chserver
cmd/chtape
cmd/chtime
cmd/chup
cmd/chwrite
cmd/hostat
cmd/newsends
cmd/reply
cmd/what

kernel/chsocket/chaosd
kernel/chsocket/listen
kernel/chsocket/server
kernel/chsocket/tstclient
kernel/chsocket/tsttime

libhosts/chaosnames
libhosts/hosts2
libhosts/libhosts.a

kernel/chlinux/*.ko
kernel/chlinux/*.ko.cmd
kernel/chlinux/*.mod.c
kernel/chlinux/*.mod.o.cmd
kernel/chlinux/*.o.cmd
kernel/chlinux/.tmp_versions/
kernel/chlinux/Module.symvers
kernel/chlinux/chlinux/
kernel/chlinux/chncp/
kernel/chlinux/chunix/
kernel/chlinux/modules.order

*.log

TAGS
